/web/bundles/
/web/css/
/web/js/
/web/uploads/media/*
!web/uploads/media/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea/*